:root{
    --bg-color:#303030;
    --bg-card-color:#424242;
    --white:#ffffff;
    --black:#000000;
    --btn-color:#7b1fa2;
    --btn-hover-color:#9626c5;
    --placeholder-color:#495057;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-color);
    color: var(--white);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.form-container{
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
}

div.form-title{
    margin-bottom: 24px;
}

#title{
    font-size: 3rem;
    text-align: center;
    border: 1px solid var(--white);
    padding: 1.5rem 3rem;
    font-weight: 800;
    text-shadow: 2px 2px 0 var(--black)
}

#description{
    text-align: center;
    font-size: 1.2rem;
    text-shadow: 2px 1px 0 var(--black);
}

div.form-content{
    background-color: var(--bg-card-color);
    border-radius: 1rem;
    padding: 2.5rem;
}

div.form-group{
    display:flex;
    flex-direction: column;

}

.form-group label{
    font-size: 1.2rem;
    margin-bottom: 6px;
    
}

.form-group input{
    padding:0.7rem;
    margin-bottom: 22px;
    border-radius: 1rem;
    font-size: 1.2rem;
    color: var(--placeholder-color);
}

.form-group p{
    font-size: 1.2rem;
    margin-bottom: 6px;
}

.form-group select{
    font-size: 1.2rem;
    margin-bottom: 24px;
    height: 50px;
    border-radius: 12px;
    color: var(--placeholder-color);
    background-color: var(--white);
}

p.suggest-text{
    text-align: center;
}

#textarea{
    margin: 0 auto;
    width: 100%;
    height: 200px;
    margin-bottom: 24px;
    font-size: 1.2rem;
    padding: 1rem;
}

#submit{
    display: inline-block;
    background-color: var(--btn-color);
    color: var(--white);
    border-radius: 12px;
    padding: 1rem 2rem;
    border: 0px;
    font-size: 1.22rem;
    transition: 0.3s;
}

#submit:hover{
    background-color: var(--btn-hover-color);
}

